@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg); /* 시작 색상 (0도) */
    }
    50% {
        filter: hue-rotate(180deg); /* 중간 색상 (180도) */
    }
    100% {
        filter: hue-rotate(360deg); /* 끝 색상 (360도) */
    }
}

/* 공통 규격 */

object{
    cursor: pointer;
}

.moon {
    position: relative;
    animation: colorChange 4s infinite;
}

.moon:hover {
    transition: all 0.5s ease-in-out;
}

.moonBox {
    width: 100%; 
    display: flex;
    justify-content: center;
}

.moonBox .moon:nth-child(3){
    top: 0;
}

.moonBox .moon:nth-child(2),.moonBox .moon:nth-child(4) {
    top: 30px;
}

.moonBox .moon:nth-child(1),.moonBox .moon:nth-child(5) {
    top: 60px;
}



 
  /* 모바일 규격 */
  @media screen and (max-width: 768px) {

    .moon{
        padding: 15px;

        width: 40px;
        height: 40px;
    }

    .moon:hover{
        width: 55px;
        height: 55px;
    }

}

  /* PC 규격 */
  @media screen and (min-width: 769px) {

    .moon{
        padding: 25px;
    
        width: 50px;
        height: 50px;
    }

    .moon:hover{
        width: 70px;
        height: 70px;
    }
  

} 



